<div class="your-container">
    <img src="../wwwroot/images/11041R35400-19.jpg" alt="Your Image" class="image-in-right-corner" />
</div>
<style>
    .image-in-right-corner {
        position: absolute;
        top: 0px;
        right: -220px;
    }
</style>
