<script src="~/lib/vue/dist/vue.global.js"></script>
<link href="~/lib/element-plus/dist/index.css" rel="stylesheet" />
<script src="~/lib/element-plus/dist/index.full.js"></script>
<script src="~/lib/axios/dist/axios.js"></script>
<body>
	<div id="app">
			<el-text class="mx-1" type="info">您正在做的业务是：招聘管理-->职位发布管理-->职位发布变更</el-text><br />
			<el-text class="mx-1" type="info">当前可变更职位发布总数有：<el-tag>{{ jobCount }}</el-tag> 例</el-text><br /><br />
			
			<el-table :data="tableData" style="width: 100%" :header-cell-style="{background:'#FFDB6F',color:'#606266'}">
				<el-table-column prop="major_name" label="职位名称" width="200"></el-table-column>
				<el-table-column prop="third_kind_name" label="公司名称" width="200"></el-table-column>
				<el-table-column prop="human_amount" label="招聘人数" width="150"></el-table-column>
				<el-table-column prop="registTime" label="发布时间" width="260"></el-table-column>
				<el-table-column prop="deadline" label="截止时间" width="260"></el-table-column>
				<el-table-column label="操作">
					<template #default="scope">
						<el-button type="primary" size="small" v-on:click="handleEdit(scope.row)">
							修改
						</el-button>
						<el-button type="danger" size="small" v-on:click="handleDelete(scope.row.mre_id)">
							删除
						</el-button>
					</template>
				</el-table-column>
			</el-table>

			<br />

			<el-pagination v-model:current-page="nowYe"
						   v-model:page-size="tiaoShu"
						   :page-sizes="[2, 4, 6, 8]"
						   layout="total, sizes, prev, pager, next, jumper"
						   :total="jobCount"
						   v-on:size-change="handletiaoShuChange"
						   v-on:current-change="handlenowYeChange">
			</el-pagination>

		<el-dialog v-model="dialogVisibleUp"
				   title="职位发布修改"
				   width="900">
			<span>
				<el-form ref="ZWFBDJ" class="ZWFBDJ" :model="fAdd" style="border: 1px solid black; width:860px;height:400px">

					<div>
						<el-form-item label="I级机构:">
							<el-select v-model="fAdd.first_kind_name"
									   placeholder="--请选择--"
									   size="large"
									   style="width: 130px">
								<el-option v-for="item in options1"
										   :key="item.ffk_id"
										   :label="item.first_kind_name"
										   :value="item.first_kind_id+item.first_kind_name" />
							</el-select>
						</el-form-item>
					</div>

					<div>
						<el-form-item label="II级机构:">
							<el-select v-model="fAdd.second_kind_name"
									   placeholder="--请选择--"
									   size="large"
									   style="width: 120px"
									   v-on:click="yiji()">
								<el-option v-for="item in options2"
										   :key="item.fsk_id"
										   :label="item.second_kind_name"
										   :value="item.second_kind_id+item.second_kind_name" />
							</el-select>
						</el-form-item>
					</div>

					<div>
						<el-form-item label="III级机构:">
							<el-select v-model="fAdd.third_kind_name"
									   placeholder="--请选择--"
									   size="large"
									   style="width: 122px"
									   v-on:click="erji()">
								<el-option v-for="item in options3"
										   :key="item.ftk_id"
										   :label="item.third_kind_name"
										   :value="item.third_kind_id+item.third_kind_name" />
							</el-select>
						</el-form-item>
					</div>

					<div>
						<el-form-item label="招聘类型:">
							<el-select v-model="fAdd.engage_type"
									   placeholder="--请选择--"
									   size="large"
									   style="width: 133px">
								<el-option v-for="item in options4"
										   :key="item.pbc_id"
										   :label="item.attribute_name"
										   :value="item.pbc_id+item.attribute_name" />
							</el-select>
						</el-form-item>
					</div>
					<div>
						<el-form-item label="职位分类:">
							<el-select v-model="fAdd.major_kind_name"
									   placeholder="--请选择--"
									   size="large"
									   style="width: 120px">
								<el-option v-for="item in options5"
										   :key="item.mfk_id"
										   :label="item.major_kind_name"
										   :value="item.major_kind_id+item.major_kind_name" />
							</el-select>
						</el-form-item>
					</div>

					<div>
						<el-form-item label="职位名称:">
							<el-select v-model="fAdd.major_name"
									   placeholder="--请选择--"
									   size="large"
									   style="width: 115px"
									   v-on:click="zwfl()">
								<el-option v-for="item in options6"
										   :key="item.major_id"
										   :label="item.major_name"
										   :value="item.major_id+item.major_name" />
							</el-select>
						</el-form-item>
					</div>

					<div class="zprs">
						<el-form-item label="招聘人数:">
							<el-input v-model="fAdd.human_amount" placeholder="请输入招聘人数" style="width: 120px"></el-input>
						</el-form-item>
					</div>

					<div>
						<el-form-item label="截止日期:">
							<el-date-picker v-model="rq" type="date" placeholder="请选择日期" size="large" style="width: 133px" />
					</div>

					<div>
						<el-form-item label="变更人:">
							<el-input v-model="fAdd.changer" placeholder="请输入登记人" style="width: 135px"></el-input>
						</el-form-item>
					</div>

					<div>
						<el-form-item label="变更时间:">
							<el-input v-model="changeTime" readonly style="width: 160px"></el-input>
						</el-form-item>
					</div>


					<div class="yq">
						<el-form-item label="职位描述:">
							<el-input v-model="fAdd.major_describe" :rows="3" type="textarea" placeholder="请输入职位描述" style="width: 1200px"></el-input>
						</el-form-item>
					</div>

					<div class="yq">
						<el-form-item label="招聘要求:">
							<el-input v-model="fAdd.engage_required" :rows="3" type="textarea" placeholder="请输入招聘要求" style="width: 1200px" v-on:click="zhjgsx()"></el-input>
						</el-form-item>
					</div>

				</el-form>

				<el-button type="info" v-on:click="dialogVisibleUp = false" style="margin-left:720px">取消</el-button>
				<el-button type="success" v-on:click="upd()">修改</el-button>

			</span>
		</el-dialog>


	</div>
</body>
<script type="text/javascript">
	const { createApp, ref, reactive, computed, watchEffect, onMounted, onUnmounted } = Vue;
	var app = createApp({
		setup() {
			const changer = ref("");

			const fAdd = reactive({
				mre_id:'',
				first_kind_id: '',
				first_kind_name: '',
				second_kind_id: '',
				second_kind_name: '',
				third_kind_id: '',
				third_kind_name: '',
				major_kind_id: '',
				major_kind_name: '',
				major_id: '',
				major_name: '',
				human_amount: '',
				engage_type: '',
				deadline: '',
				register: '',
				changer: '',
				registTime: '',
				changeTime: '',
				major_describe: '',
				engage_required: '',
				status: '',
			})

			const options1 = ref();
			const options2 = ref();
			const options3 = ref();
			const options4 = ref();
			const options5 = ref();
			const options6 = ref();

			//I级机构下拉框
			axios.get('/CFFK/SelectAllCFFK')
				.then(res => {
					options1.value = res.data
				})

			//招聘类型下拉框
			axios.get('/CPC/SeleteGGSX', {
				params: {
					x: '招聘类型'
				}
			}).then(res => {
				options4.value = res.data
			})

			//职位分类下拉框
			axios.get('/CMK/SelectAllCMK')
				.then(res => {
					options5.value = res.data
				})

			function zwfl() {
				str5 = fAdd.major_kind_name
				ffid5 = str5.substring(0, 2)
				ffname5 = str5.substring(2)
				fAdd.major_kind_id = ffid5
				fAdd.major_kind_name = ffname5
				//联动级联
				axios.get('/CM/SeleteZWMC', {
					params: {
						x: ffname5
					}
				}).then(res => {
					options6.value = res.data
				})
			}


			function yiji() {
				str1 = fAdd.first_kind_name
				ffid1 = str1.substring(0, 2)
				ffname1 = str1.substring(2)
				fAdd.first_kind_id = ffid1
				fAdd.first_kind_name = ffname1
				//联动级联
				axios.get('/CFSK/SelectCFSKBySKName', {
					params: {
						x: ffname1
					}
				}).then(res => {
					options2.value = res.data
				})
			}

			function erji() {
				str2 = fAdd.second_kind_name
				ffid2 = str2.substring(0, 2)
				ffname2 = str2.substring(2)
				fAdd.second_kind_id = ffid2
				fAdd.second_kind_name = ffname2

				//联动级联
				axios.get('/CFTK/SelectCFTKByTKName', {
					params: {
						x: ffname2
					}
				}).then(res => {
					options3.value = res.data
				})
			}

			function zhjgsx() {

				str3 = fAdd.third_kind_name
				ffid3 = str3.substring(0, 2)
				ffname3 = str3.substring(2)
				fAdd.third_kind_id = ffid3
				fAdd.third_kind_name = ffname3

				str4 = fAdd.engage_type
				ffid4 = str4.substring(0, 2)
				ffname4 = str4.substring(2)
				fAdd.engage_type = ffname4

				str6 = fAdd.major_name
				ffid6 = str6.substring(0, 2)
				ffname6 = str6.substring(2)
				fAdd.major_id = ffid6
				fAdd.major_name = ffname6

			}

			const rq = ref(null);

			function x() {
				const year = rq.value.getFullYear();
				const month = String(rq.value.getMonth() + 1).padStart(2, '0');
				const day = String(rq.value.getDate()).padStart(2, '0');
				const sj = `${year}-${month}-${day} 00:00:00`;
				fAdd.deadline = sj
				fAdd.changeTime = changeTime.value
			}

			const changeTime = ref('');

			function updateCurrentTime() {
				const now = new Date();
				// 转换为本地时间并格式化
				const year = now.getFullYear();
				const month = String(now.getMonth() + 1).padStart(2, '0'); // 月份从0开始，所以加1
				const day = String(now.getDate()).padStart(2, '0');
				const hours = String(now.getHours()).padStart(2, '0');
				const minutes = String(now.getMinutes()).padStart(2, '0');
				const seconds = String(now.getSeconds()).padStart(2, '0');
				changeTime.value = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
			}

			onMounted(() => {
				const timer = setInterval(updateCurrentTime, 1000);

				onUnmounted(() => {
					clearInterval(timer);
				});
				updateCurrentTime(); // 初始化显示当前时间
			});

			var tableData = ref([])

			var nowYe = ref(1)
			var tiaoShu = ref(2)
			var jobCount = ref()
			let dialogVisibleUp = ref(false);
			var tj = ref("status = 1")


			function Fill() {
				axios.get('/EMR/SelectEMRtjfy', {
					params: {
						cpage: nowYe.value,
						psize: tiaoShu.value,
						where: tj.value,
					}
				})
					.then(res => {
						console.log(res)
						tableData.value = res.data.data
						jobCount.value = res.data.rows
					}).catch(err => {
						console.log(err)
					})
			}

			Fill();

			function handletiaoShuChange(ntiaoShu) {
				tiaoShu.value = ntiaoShu;
				Fill();
			}

			function handlenowYeChange(nnowYe) {
				nowYe.value = nnowYe;
				Fill();
			}



			function handleEdit(row) {
				console.log(row)
				dialogVisibleUp.value = true;
				//赋值
				fAdd.mre_id = row.mre_id
				fAdd.first_kind_id = row.first_kind_id
				fAdd.first_kind_name = row.first_kind_name
				fAdd.second_kind_id = row.second_kind_id
				fAdd.second_kind_name = row.second_kind_name
				fAdd.third_kind_id = row.third_kind_id
				fAdd.third_kind_name = row.third_kind_name
				fAdd.engage_type = row.engage_type
				fAdd.major_kind_id = row.major_kind_id
				fAdd.major_kind_name = row.major_kind_name
				fAdd.major_id = row.major_id
				fAdd.major_name = row.major_name
				fAdd.human_amount = row.human_amount
				fAdd.register = row.register
				fAdd.registTime = row.registTime
				//截止时间の赋值
				const dateValue = ref(new Date(row.deadline))
				rq.value = dateValue.value
				fAdd.changer = row.changer
				fAdd.major_describe = row.major_describe
				fAdd.engage_required = row.engage_required
				fAdd.status = row.status
			}


			function upd() {
				x()
				console.log(fAdd)
				axios.defaults.headers["Content-Type"] = "application/x-www-form-urlencoded";
				axios.put('/EMR/UpdEMR', {
					mre_id: fAdd.mre_id,
					first_kind_id: fAdd.first_kind_id,
					first_kind_name: fAdd.first_kind_name,
					second_kind_id: fAdd.second_kind_id,
					second_kind_name: fAdd.second_kind_name,
					third_kind_id: fAdd.third_kind_id,
					third_kind_name: fAdd.third_kind_name,
					major_kind_id: fAdd.major_kind_id,
					major_kind_name: fAdd.major_kind_name,
					major_id: fAdd.major_id,
					major_name: fAdd.major_name,
					human_amount: fAdd.human_amount,
					engage_type: fAdd.engage_type,
					deadline: fAdd.deadline,
					register: fAdd.register,
					changer: fAdd.changer,
					registTime: fAdd.registTime,
					changeTime: fAdd.changeTime,
					major_describe: fAdd.major_describe,
					engage_required: fAdd.engage_required,
					status:fAdd.status,
				}).then(res => {
					if (res.data) {
						console.info(res.data)
						alert("修改成功")
						Fill()
						dialogVisibleUp.value = false
					}
				}).catch(err => {
					console.log(err);
				})
			}

			function handleDelete(mre_id) {
				if (confirm("确定删除")) {
					axios.defaults.headers["Content-Type"] = "application/x-www-form-urlencoded";
					axios.post('/EMR/DelEMR', {
						id: mre_id
					}).then(res => {
						if (res.data) {
							Fill();
							alert("删除成功")
						}
					}).catch(err => {
						console.log(err);
					})
				}

			}

			
			return {
				tableData,
				jobCount,
				dialogVisibleUp,
				handleEdit,
				upd,
				handleDelete,
				nowYe,
				tiaoShu,
				handlenowYeChange,
				handletiaoShuChange,
				fAdd,
				options1,
				options2,
				options3,
				options4,
				options5,
				options6,
				yiji,
				erji,
				zwfl,
				rq,
				changeTime,
				zhjgsx
			}
		}
	})
	app.use(ElementPlus);
	app.mount("#app");
</script>

<style type="text/css">
	body {
		background-color: #FFFFBB;
		border: 1px solid #FFDB6F;
	}

	el-table {
		background-color: #FFFFBB;
	}

	.ZWFBDJ::after {
		content: "";
		display: table;
		clear: both; /* 清除浮动 */
	}

	.ZWFBDJ > div {
		border: 1px solid black;
		float: left;
		padding-top: 10px;
		padding-bottom: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.zprs {
		height: 58px;
	}


	.yq {
		height: 88px;
		width: 839px;
	}
</style>